.p-3
  .row
    .col-lg-12.py-3.px-3
      %h2 Affinity Platform
      %h5.subtitle Create an app by chaining components
  .row
    .col-lg-12.px-3
      .row.pt-2
        .col-lg-3
          = text_field_tag :search, nil, placeholder: 'Search for a Component...', class: "form-control", data: { list: @components.join(', ') }
          %hr
          #edge.btn.btn-outline-info
            %i.fa.fa-level-up
          #wedge.btn.btn-outline-info
            %i.fa.fa-long-arrow-right
          #delete.btn.btn-outline-danger.float-right
            %i.fa.fa-trash
          %hr.mb-0
          #components
          %hr.mt-0
        .col-lg-9
          #ring
          %hr
          #import.btn.btn-dark
            %i.fa.fa-upload.mr-1
            Import Script
          #preview.btn.btn-dark
            %i.fa.fa-print.mr-1
            Preview Script
          #generate.float-right.btn.btn-dark
            %i.fa.fa-download.mr-1
            Download Script
