$primary: #343a40;
@import 'bootstrap';
@import 'font-awesome';

header {
  box-shadow: 0px 12px 24px -20px #777;
}

.subtitle {
  color: #555;
  font-weight: 400;
}

.input-group-text {
  color: #fff;
  background-color: #343a40;
  border: #343a40;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.1rem rgba(0, 12, 25, 0.25);
}

input {
  text-align: center;
  min-height: 46px !important;
}

.unit {
  display: inline-block;
  &.unit-free {
  }
  &.unit-wall {
    background: #eee;
  }
  &.unit-main {
    background: #abc;
  }
  &.unit-end {
    background: #15a;
  }
}

#ring {
  background: #343a40;
  width: auto;
  height: 600px;
  margin: auto;
  line-height: 0;
}

.awesomplete {
  width: 100%;
}

#components {
  max-height: 400px;
  overflow-y: scroll;
}

.nav-pills {
  box-shadow: 0px 8px 12px -12px #aaa, 0px -8px 12px -12px #aaa;
  position: relative;
  z-index: 1;
  min-height: 46px;
  .nav-link {
    min-height: 46px;
    line-height: 30px;
  }
}

.awesomplete {
  box-shadow: 0px 8px 12px -12px #ccc, 0px -8px 12px -12px #ccc;
}

.awesomplete > ul {
  z-index: 5 !important;
}

.components-container {
  box-shadow: inset 0px 8px 12px -12px #ccc, inset 0px -8px 12px -12px #ccc;
}

.component {
  cursor: pointer;
}

.btn {
  min-width: 60px;
  min-height: 46px;
  line-height: 2;
  border-radius: 0.4rem;
  padding: 0.375rem 1.2rem;
}

.card {
  box-shadow: 0px 8px 8px -12px #ccc, 0px -8px 4px -12px #ccc;
}

a {
  text-decoration: none !important;
}
